
html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: "Larsseit";
      font-weight: lighter;
}

/* NAVIGATION BAR */



/* MENU */



/* HERO SECTION */


/* Defining general properties for media icons used across the template */



/* SECTON BASIC */



/* PRODUCT / BANNER SEC */


/* FOOTER */


/* SHOP Page */



/* PRODUCT PAGE */


/* ABOUT PAGE */



/* CONTACT */


